
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buscar</title>
</head>
<body>
    <div>
        <p>
            @using (Html.BeginForm("Buscar", "Index", FormMethod.Get))
            {
            <p>
                Término a buscar: @Html.TextBox("palabra")
                <input type="submit" value="Filter" />
            </p>
            }
        </p>
        </div>
</body>
</html>
